[user]
	name = Andrew Cooper
	email = andrew.cooper@hkcreations.org
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = true
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore_global
	filemode = false
	symlinks = false
[diff]
	tool = kdiff3
[gui]
	commitmsgwidth = 80
	encoding = utf-8
[guitool "Difftool"]
	cmd = git difftool --no-prompt -- $FILENAME
	noconsole = true
	needsfile = true
[guitool "Edit with GVim"]
	cmd = gvim $FILENAME
	needsfile = true
	noconsole = true
[help]
	format = web
[merge]
	tool = kdiff3
